@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
    background-color: hsl(212, 45%, 89%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

h1 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    max-width: 27rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
